<?xml version='1.0' encoding='iso-8859-1'?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<widget version='3.0.1'
        versionCode='301'
        id='br.com.multidadosti.mobile'
        xmlns='http://www.w3.org/ns/widgets'
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
>

    <name>MultidadosTI</name>
    <description>O aplicativo MultidadosTI</description>
    <author href='http://www.multidadosti.com.br' email='alfonso@multidadosti.com.br'>MultidadosTI Team</author>
   
    <access origin="*"/>
        
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm"> 
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" /> 
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <preference name="stay-in-webview" value="true" />
     
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
    <feature name="Vibration">
        <param name="android-package" value="org.apache.cordova.vibration.Vibration" />
    </feature>
    <feature name="Notification">
        <param name="ios-package" value="CDVNotification" />
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
    </feature>
     
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
    <feature name="NetworkStatus" value="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
        <param name="ios-package" value="CDVConnection" />
    </feature>
    <!--
    <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
    
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
    
    <gap:plugin name="org.apache.cordova.media-capture" version="0.3.3" />
    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
    
    <gap:plugin name="org.apache.cordova.device-orientation" version="0.3.9" />
    <gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />

    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <gap:plugin name="org.apache.cordova.contacts" version="0.2.13" />
    <gap:plugin name="org.apache.cordova.console" version="0.2.11" />
    
    <feature name='Device'>        
        <param name='ios-package' value='CDVDevice'/>    
    </feature>
    <feature name='Accelerometer'>        
        <param name='ios-package' value='CDVAccelerometer'/>    
    </feature>
    <feature name='Compass'>        
        <param name='ios-package' value='CDVLocation'/>    
    </feature>
    <feature name='Media'>        
        <param name='ios-package' value='CDVSound'/>    
    </feature>
    <feature name='Camera'>        
        <param name='ios-package' value='CDVCamera'/>    
    </feature>
    <feature name='Contacts'>        
        <param name='ios-package' value='CDVContacts'/>    
    </feature>
    <feature name='File'>        
        <param name='ios-package' value='CDVFile'/>    
    </feature>
    <feature name='FileTransfer'>        
        <param name='ios-package' value='CDVFileTransfer'/>    
    </feature>
    <feature name='Capture'>        
        <param name='ios-package' value='CDVCapture'/>    
    </feature>
    <feature name='Battery'>        
        <param name='ios-package' value='CDVBattery'/>    
    </feature>
    <feature name='Echo'>        
        <param name='ios-package' value='CDVEcho'/>    
    </feature>
    -->
    <feature name='Globalization'>        
        <param name='ios-package' value='CDVGlobalization'/>    
    </feature>
    <feature name='InAppBrowser'>        
        <param name='ios-package' value='CDVInAppBrowser'/>    
    </feature>
    <feature name='Logger'>        
        <param name='ios-package' value='CDVLogger'/>    
    </feature>
    <feature name='LocalStorage'>        
        <param value='CDVLocalStorage' name='ios-package'/>    
    </feature>
    <feature name='Geolocation'>
        <param name='ios-package' value='CDVLocation'/>    
    </feature>
    
    <preference value='true' name='AllowInlineMediaPlayback'/>
    <preference value='false' name='MediaPlaybackRequiresUserAction'/>
    <preference value='true' name='OpenAllWhitelistURLsInWebView'/>
    
    <preference value='cloud' name='BackupWebStorage'/>
    <preference value='false' name='DisallowOverscroll'/>
    <preference value='false' name='EnableViewportScale'/>
    <preference value='false' name='HideKeyboardFormAccessoryBar'/>
    <preference value='true' name='KeyboardDisplayRequiresUserAction'/>
    <preference value='false' name='KeyboardShrinksView'/>
    <preference value='false' name='SuppressesIncrementalRendering'/>
    <preference value='gray' name='TopActivityIndicator'/>
    <preference value='0' name='GapBetweenPages'/>
    <preference value='0' name='PageLength'/>
    <preference value='page' name='PaginationBreakingMode'/>
    <!-- page, column -->
    <preference value='unpaginated' name='PaginationMode'/>

    <icon src="icon.png" />
    <icon src="icon/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icon/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="icon/ios/icon-120.png" gap:platform="ios" width="120" height="120" />
    <icon src="icon/ios/icon-152.png" gap:platform="ios" width="152" height="152" />
    <icon src="icon/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <icon src="icon/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />

    <gap:splash src="icon/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="icon/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="icon/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="icon/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="icon/ios/screen-ipad-landscape.png" gap:platform="ios" width="1024" height="768" />
</widget>